.example-radio-group-column {
    display: inline-flex;
    flex-direction: column;
}

.example-radio-group {
    display: inline-flex;
}

.example-radio-button {
    margin: 5px;
}

.example-selected-value {
    margin: 15px 0;
}