<md-card>
    <md-card-header>
        <md-card-title>
            <h2>Logowanie do panelu administratora</h2>
        </md-card-title>
    </md-card-header>

    <form class="example-form" #registerForm>
        <md-card-content>
            <md-input-container class="example-full-width">
                <input mdInput required="true" #key0 placeholder="Login" value="">
                <md-hint align="end">{{key0.value.length}} / 1</md-hint>
            </md-input-container>

            <md-input-container class="example-full-width">
                <input mdInput required="true" #key1 placeholder="Hasło" value="">
                <md-hint align="end">{{key1.value.length}} / 1</md-hint>
            </md-input-container>
        </md-card-content>

        <md-card-actions>
            <button md-raised-button (click)="loginAdmin(key0.value,key1.value);" type="submit">Zaloguj się</button>
        </md-card-actions>

    </form>

</md-card>